<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap.min.css">
   
    <script src="jquery-3.6.0.min.js"></script>
    <script src="jquery-3.6.0.js"></script>
    <script src="bootstrap.js"></script>
    <script src="bootstrap.min.js"></script>

    <title>
        Add category
    </title>
</head>
<body >
    <form action="addcategory1" method="POST" class="form-group" >

      

        
        
        <input type="text" class="form-control" style="margin-top: 100px;" name="Name" required placeholder="Name Category" id="">
        
        <br>
        <center>
        <input type="submit" style="width:177px;" class="btn btn-primary col-12" value="Add">
        <br>>
        </center>
        
    </form>
</body>
</html>