<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap.min.css">
   
    <script src="jquery-3.6.0.min.js"></script>
    <script src="jquery-3.6.0.js"></script>
    <script src="bootstrap.js"></script>
    <script src="bootstrap.min.js"></script>

    <title>
        Add Product
    </title>
</head>
<body >
    <form action="addingproduct" method="POST" class="form-group" >

      

        
        
        <input type="text" class="form-control" name="Name" required placeholder="Name" id="">
        
        <br>
        <input type="text" class="form-control" name="Idcategory" required placeholder="ID_Category" id="">
        <br>
        
        <input type="text" class="form-control" name="Idcompany" required placeholder="ID_Company" id="">
       <br>
        <input type="text" class="form-control" name="Price" required placeholder="Price" id="">
        <br>
        
        <input type="file" class="form-control" name="Source" required placeholder="Source" id="">
        
        <br>
        <br><center>
        <input type="submit" style="width:177px;" class="btn btn-primary col-12" value="Add">
        <br>
        </center>
        
    </form>
</body>
</html>