<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="mystyle Login Page.css">


    <script src="jquery-3.6.0.min.js"></script>
    <script src="jquery-3.6.0.js"></script>
    <script src="bootstrap.js"></script>
    <script src="bootstrap.min.js"></script>

    <title>Login</title>
    <link rel="stylesheet" href="mystyle Login Page.css">
</head>
<body>
    <form action="/aa" class="form-group" method="POST">
        

<input type="text" class="form-control" name="username" required placeholder="UserName" id="">
<br>

<input type="password" class="form-control" name="password" required placeholder="Password" id="">

<br><center>
<input type="submit" style="width:177px;" class="btn btn-primary col-12" value="login">
<br>
<p style="color:whitesmoke">if you need to create an account try <a href="/signup">SignUp</a></p>
</center>
</form>
</body>
</html>