<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page for <%=name%></title>
</head>
<body>
    <h1><%=name%></h1>
<h3 style="text-align: right;"><a href="logout" style="border: 2px dashed;border-color: red; color: chocolate;">LogOut</a></h3>
    <center>
        <h2> Services</h2>
        <ol style="border: 2px dashed;border-color: blueviolet;">
 <li>  <a href="show-product">Show Product</a> </li>
 <li>  <a href="show-product-as-category">Show Product As Category</a> </li>
 <li>  <a href="show-product-as-company">Show Product As Company</a> </li>
 
</ol>
</center>

</body>
</html>