<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="bootstrap.min.css">
   
    <script src="jquery-3.6.0.min.js"></script>
    <script src="jquery-3.6.0.js"></script>
    <script src="bootstrap.js"></script>
    <script src="bootstrap.min.js"></script>

    <title>
        Modify Company
    </title>
</head>
<body >
    <form action="/modifycompany" method="POST" class="form-group" >

      

        <input type="text" class="form-control" style="margin-top: 100px;" name="ID" required placeholder="ID Companey for modify" id="">
    
        <br>
        <input type="text" class="form-control" style="margin-top: 100px;" name="Company"  placeholder="Name Category" id="">
       <br>
        <input type="file" class="form-control" name="Logo"  placeholder="Logo" id="">
        
        <br>
        <center>
        <input type="submit" style="width:177px;" class="btn btn-primary col-12" value="Modify">
        <br>
        </center>
        
    </form>
</body>
</html>