    label {
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        color: darkkhaki;
    }
    
    body {
        padding: 0;
        margin: 0;
        background-color:darkslategray ;
        background-size: cover;
    }
    
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 420px;
        background: rgb(0, 0, 0, 0.5);
        border-radius: 15px;
        box-sizing: border-box;
    }
    
    img[alt="no image"] {
        position: absolute;
        top: 18%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 70px;
        height: 70px;
        background: rgb(0, 0, 0, 0.5);
        box-shadow: 0 3px 5px 0;
    }
    
    h2 {
        align-items: center;
        margin-top: 90px;
    }
    
    input[type="text"],
    [type="password"] {
        background: none;
        border-radius: 25px;
        margin-left: 45px;
        margin-top: 100px;
        width: 250px;
        outline: none;
        color: white;
        text-align: center;
    }
    
    input[type="password"] {
        background: none;
        outline: none;
        color: white;
        margin-top: 40px;
    }
    
     ::placeholder {
        color: white;
        font-weight: bold;
    }
    
    #sub {
        margin-top: 50px;
        margin-left: 45px;
        border-radius: 25px;
        width: 250px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    
    #login {
        color: white;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 20%;
        left: 40%;
    }